:root {
 --color-grey: #F0F5FF;
 --color-black: #323232;
 --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #323232;
  text-decoration: none;
}

a:hover {
  color: #323232;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}
